.foot{
    text-align: center;
    background-color: #1C4E80;
    padding: 1rem;
    color: white;
    position: relative;
    left: 0;
    bottom: -300px;
    width: 100%;
    
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
}